body{
  margin: none;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #9f1aff;
}

table{
  width: 50vh;
}

td{
  background-color: black;
  border-radius: 10px;
}
button{
  padding: 30px;
  color: white;
  font-size: large;
  background: none;
}

.pre{
  color: grey;
  font-size: large;
  float: right;
  font-weight: 100;
  margin: 5px;
}

.output{
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  padding: 30px;
  height: 50px;
  font-weight: bold;
  float: right;
  font-size: 50px;
}